.task-input {
  width: 97%;
  margin-left: 0.9rem;
}

.task-input > input:hover {
  border: 1px solid rgba(34, 36, 38, 0.15);
}

.ui.card > .extra {
  display: flex;
  align-items: center;
}

.gem.icon {
  margin-right: 0.5em;
}

.ui.button-edit {
  margin-right: 1em;
  margin-left: auto;
}
