h1 {
  /* prevent margin collapse; margin relative to parent */
  display: inline-block;
}

#logo { /* stylelint-disable-line selector-max-id */
  fill: currentColor;
}

.icon {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
}

/* TODO: Add this to documentation as each site is likely to have a unique implementation */
.btn + .btn-link,
.btn-link + .btn,
.btn + .btn {
  margin-left: 0.4rem;
}
